html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload {
  width: 400px;
  height: 150px;
  margin-bottom: 100px;
}

.upload__icon {
  font-size: 48px;
  color: #1890ff;
}

.upload__text {
  font-size: 20px;
}

.carousel {
  width: 60%;
}

.slider-slide {
  display: inline-flex !important;
  align-items: center;
}
